@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --light: #ED8282;
    --dark: #FF4E4E;
    --white: #f3f3f3;
    --inter: 'Inter', sans-serif;
    --yellow: #FACC56;
}

/* img {
    width: 70%; /* Adjust the image width based on the screen size */
   /* max-width: 300px;*/ /* Set a maximum width for the image */
   /* margin-top: 35vh;*/ /* Adjust the top margin based on the screen height */
    /*margin-bottom: 5vh;*/ /* Adjust the bottom margin based on the screen height */
   /* margin-left: 17vw;*/ /* Adjust the left margin based on the screen width */
/*} */

body {
    margin: 0;
    padding: 0;
    height: 100vh; /* Set the body height to the full viewport height */
    /* background: linear-gradient(to right, var(--light) 50%, var(--dark) 50%); */
    background: var(--dark);
}

.button-container button:hover {
    background-color: var(--white);
    color: black;
}

.button-container {
	position: absolute;
	bottom: -290;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	display: flex;
	justify-content: center;
}
  
  button {
	padding: 2vh 4vw; /* Adjust padding based on screen size */
	border-radius: 3vw; /* Adjust border-radius based on screen size */
	border-color: var(--white);
	transition: var(--white) 0.5s;
	background-color: black;
	color: var(--white);
	font-family: var(--inter);
	font-style: italic;
	font-weight: bold;
	max-width: 80vw; /* Limit button width based on screen size */
	max-height: 13vh; /* Limit button height based on screen size */
  }

.yellow-box1 {
    width: 200px; /* Adjust width as needed */
    height: 100px; /* Adjust height as needed */
    background-color: var(--yellow);
    color: black;
    padding: 20px; /* Adjust padding as needed */
  }
.yellow-box2 {
    width: 200px; /* Adjust width as needed */
    height: 100px; /* Adjust height as needed */
    background-color: var(--yellow);
    color: black;
    padding: 20px; /* Adjust padding as needed */
  }
.yellow-box3 {
    width: 200px; /* Adjust width as needed */
    height: 100px; /* Adjust height as needed */
    background-color: var(--yellow);
    color: black;
    padding: 20px; /* Adjust padding as needed */
  }
.yellow-box4 {
    width: 200px; /* Adjust width as needed */
    height: 100px; /* Adjust height as needed */
    background-color: var(--yellow);
    color: black;
    padding: 20px; /* Adjust padding as needed */
  }
.unitbox{
    display: flex;
    flex-direction: row;
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    position: absolute; /* Absolute positioning to keep the buttons in view */
    top: 50%;
    right: 0vw; /* Adjust the right position based on the screen width */
	left: 50vw;
    transform: translateX(-50%); /* Center vertically */
	/* border-right: 15vw; */
}
.navbar {
	background-color: var(--light);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px; /* Adjust padding as needed */
  }
  
  .navbar-logo,
  .navbar-home {
	font-size: 48px;
	color: black;
  }

  .heading {
    text-align: center; /* Align the heading text to the center */
    margin-top: 100px; /* Adjust the top margin as needed */
    color: black; /* Set the text color */
	font-style: italic;
	font-size: 40px;
	font-family: var(--inter);
}
.visualdata{
  margin-left: 7.5vw;
}
@media (max-width: 768px) {
    img {
        width: 80%; /* Adjust the image width for smaller screens */
    }
}

@media (max-width: 480px) {
    img {
        width: 90%; /* Adjust the image width for even smaller screens */
    }
}
.carousel {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.carousel-container {
  display: flex;
  overflow: hidden;
}

.carousel-image {
  width: 150%;
  /* height: 100%; */
  display: none;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

.prev {
  left: -50;
}

.next {
  right: -50;
}
